@using GestionEcole.Resources.Views.Account;
@{
    ViewBag.Title = ExternalLoginFailure.ViewBagTitle;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ExternalLoginFailure.h2</h2>
</hgroup>
