@using GestionEcole.Resources.Views.Administration;

@{
    ViewBag.Title = @AddRole.ViewbagTitle;
}

<h2>@AddRole.FirstH2</h2>

@using (Html.BeginForm())
{

    <div class="col-xs-8 col-xs-offset-2">
        <fieldset>

            <div class="form-group col-xs-8 col-xs-offset-2">
                @Html.Label("Role", new { @class = "control-label" })
                @Html.TextBox("role", null, new { @class = "form-control" })

            </div>
        </fieldset>
        <div class="form-group col-xs-8 col-xs-offset-2">
            <a class="btn btn-primary pull-right" title=@AddRole.SaveBtnTitle href="/Administration"><span class="glyphicon glyphicon-floppy-disk"></span></a>
        </div>

    </div>
}