@using GestionEcole.Resources.Views.Home;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Index.ErrorTitle;
}

<hgroup class="title">
    <h1 class="error">@Index.ErrorTitle</h1>
    <h2 class="error">@Index.ErrorMessage</h2>
</hgroup>
